form {
    /* height: 300px; */
    width: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
h1 {
    font-size: 50px;
}
label {
    font-size: 18px;
    font-weight: bold;
}
input {
    height: 25px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid  #065d86;
    padding: 3px 5px;
  
}
#submit {
    display: flex;
    justify-content: center;
}
.botao {
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin: 10px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

